p, a {
    direction: rtl;
    text-align: right;
}
article {
    line-height: 40px;
}
.glass {
    cursor: pointer;
    background: #1e1e2d6b;
    border-radius: 16px;
    box-shadow: inset 3px 4px 30px 0 rgb(255 255 255 / 4%);
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(6.3px);
    border: 1px solid rgb(137 137 137 / 50%);
}

.glass:hover {
    background-color: #ababab1c;
    transition: .3s;
}

.bg-section-1-home {
    background-image: url(https://laracasts.com/images/home/teacher-grid-bg.svg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.left-position-obj {
    z-index: -1;
    width: 80%;
    position: absolute;
    top: 0;
    right: 65%;
    overflow: hidden;
}

.right-position-obj {
    z-index: -1;
    width: 50%;
    position: absolute;
    left: 40%;
    overflow: hidden;
}

.border-white {
    border : solid 0.5px #393e52  !important;
}

.left-0 {
    left: 0;
}
.right-0 {
    right: 0;
}
.height-100 {
    height: 100%;
}

.font-weight-bold {
    font-weight: bold !important;
}

pre {
    direction: ltr;
}


html {
    font-size: 16px; /* پایه ۱۶px */
}

h1 {
    font-size: 2.5rem; /* 40px */
}

h2 {
    font-size: 2rem; /* 32px */
}

h3 {
    font-size: 1.75rem; /* 28px */
}

h4 {
    font-size: 1.5rem; /* 24px */
}

h5 {
    font-size: 1.25rem; /* 20px */
}

h6 {
    font-size: 1rem; /* 16px */
}

p, a {
    font-size: 1rem; /* 16px */
}

@media (max-width: 992px) {
    h1 {
        font-size: 2rem;
    }
    h2 {
        font-size: 1.75rem;
    }
    h3 {
        font-size: 1.5rem;
    }
    h4 {
        font-size: 1.25rem;
    }
    h5 {
        font-size: 1.1rem;
    }
    h6 {
        font-size: 1rem;
    }
    p, a {
        font-size: 0.95rem;
    }
}

@media (max-width: 768px) {
    h1 {
        font-size: 1.75rem;
    }
    h2 {
        font-size: 1.5rem;
    }
    h3 {
        font-size: 1.25rem;
    }
    h4 {
        font-size: 1.1rem;
    }
    h5 {
        font-size: 1rem;
    }
    h6 {
        font-size: 0.95rem;
    }
    p, a {
        font-size: 0.9rem;
    }
}

@media (max-width: 576px) {
    h1 {
        font-size: 1.5rem;
    }
    h2 {
        font-size: 1.25rem;
    }
    h3 {
        font-size: 1.1rem;
    }
    h4, h5, h6 {
        font-size: 1rem;
    }
    p, a {
        font-size: 0.85rem;
    }
}


/*highlight css*/
pre code.hljs {
    display: block;
    overflow-x: auto;
    padding: 1em
}
code.hljs {
    padding: 3px 5px
}
/*

Atom One Dark by Daniel Gamage
Original One Dark Syntax theme from https://github.com/atom/one-dark-syntax

base:    #282c34
mono-1:  #abb2bf
mono-2:  #818896
mono-3:  #5c6370
hue-1:   #56b6c2
hue-2:   #61aeee
hue-3:   #c678dd
hue-4:   #98c379
hue-5:   #e06c75
hue-5-2: #be5046
hue-6:   #d19a66
hue-6-2: #e6c07b

*/
.hljs {
    color: #abb2bf;
    background: #282c34
}
.hljs-comment,
.hljs-quote {
    color: #5c6370;
    font-style: italic
}
.hljs-doctag,
.hljs-keyword,
.hljs-formula {
    color: #c678dd
}
.hljs-section,
.hljs-name,
.hljs-selector-tag,
.hljs-deletion,
.hljs-subst {
    color: #e06c75
}
.hljs-literal {
    color: #56b6c2
}
.hljs-string,
.hljs-regexp,
.hljs-addition,
.hljs-attribute,
.hljs-meta .hljs-string {
    color: #98c379
}
.hljs-attr,
.hljs-variable,
.hljs-template-variable,
.hljs-type,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-number {
    color: #d19a66
}
.hljs-symbol,
.hljs-bullet,
.hljs-link,
.hljs-meta,
.hljs-selector-id,
.hljs-title {
    color: #61aeee
}
.hljs-built_in,
.hljs-title.class_,
.hljs-class .hljs-title {
    color: #e6c07b
}
.hljs-emphasis {
    font-style: italic
}
.hljs-strong {
    font-weight: bold
}
.hljs-link {
    text-decoration: underline
}
/*highlight css*/

.area {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 60vh;
}

.center_area {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: #fff;
    z-index: 2;
}

.page-service {
    background-color: #171925;
    color: #9FA2AB;
}
.vg-page {
    position: relative;
    padding: 70px 16px;
    color: #858B91;
    z-index: 10;
    overflow: hidden;
}
.page-service .card {
    margin: 32px 0;
    background-color: #202334;
}
.text-purple {
    color: #8d4ef5 !important;
}
.bg-purple {
    background-color: #8d4ef5 !important;
}


.img-place {
    position: relative;
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 2;
}

.container .img-place {
    width: 70%;
    /*height: 350px;*/
    overflow: unset;
}


.img-place > img {
    width: 100%;
    height: auto;
}

.theme-red .container .img-place::before {
    border-color: #8d4ef5;
}

.container .img-place::before {
    content: "";
    position: absolute;
    top: -20px;
    right: -35px;
    width: 100%;
    height: 100%;
    border: 5px solid #8d4ef5;
    z-index: -1;
}

.royal{
    background-color: #37517e !important;
    color: #eee !important;
}
.royal-dark{
    background-color: #14263c !important;
    color: #eee !important;
}

.img-fix-home {
    background-image: url(/public/img/bg/bg_2.jpg);
    position: relative;
    display: block;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    z-index: 1;
}
.bg_footer {
    background-image: url(/public/img/bg/bg_footer.jpg);
    position: relative;
    display: block;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    z-index: 1;
}

/* Index Page Header on Scroll
------------------------------*/
.index-page.scrolled .header {
    --background-color: #213854f2;
}

.header {
    --background-color: #37517e ;
    --heading-color: #ffffff;
    background-color: var(--background-color);
    padding: 15px 0;
    transition: all 0.5s;
}

.animated {
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
}
@keyframes up-down {
    0% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(-10px);
    }
}

.widget-item {
    direction: rtl;
    margin-bottom: 30px;
    background-color: color-mix(in srgb, var(--default-color), transparent 98%);
    border: 1px solid color-mix(in srgb, var(--default-color), transparent 90%);
    padding: 30px;
    border-radius: 5px;
}

.widget-item:last-child {
    margin-bottom: 0;
}


.widget-title {
    color: var(--heading-color);
    font-size: 20px;
    font-weight: 600;
    padding: 0 10px 0 0;
    margin: 0 0 20px 0;
    border-right: 4px solid #37517e;
}

.widget-item {
    margin-bottom: 30px;
    border: 1px solid color-mix(in srgb, #444444, transparent 90%);
    padding: 30px;
    border-radius: 5px;
}


.hover-zoom-in  img {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
.hover-zoom-in :hover img {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.course-card {
    margin-top: 20px;
}

.course-card .card-img-block {
    width: 91%;
    margin: 0 auto;
    position: relative;
    top: -20px;
    border-radius: 8px 8px 0 0;
}

.course-card h5 {
    font-weight: 800;
}

.course-card p {
    font-size: 14px;
    font-weight: 300;
}

.article-card h5 {
    font-weight: 800;
}

.article-card p {
    font-size: 14px;
    font-weight: 300;
}
